<div class="container-fluid mt-2">
  <form [formGroup] = "fitnessForm"  (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">

        <label for="firstname">First Name</label>
        <input
          formControlName = "firstname"
          [class.is-invalid]="fitnessForm.get('firstname').invalid && fitnessForm.get('firstname').touched"
          type="text"
          class="form-control"
          placeholder="Enter your First Name"
          required
        />

        <small
          class="text-danger"
          [class.d-none]="fitnessForm.get('firstname').valid || fitnessForm.get('firstname').untouched"
          >Only alphabets allowed.</small
        >
      </div>


      <div class="form-group col-md-6">
        <label for="lastname">Last Name</label>
        <input
          formControlName = "lastname"
          [class.is-invalid]="fitnessForm.get('lastname').invalid && fitnessForm.get('lastname').touched"
          type="text"
          class="form-control"
          placeholder="Enter your Last Name"
          required
        />

         <small
          class="text-danger"
          [class.d-none]="fitnessForm.get('lastname').valid || fitnessForm.get('lastname').untouched"
          >Last Name is required and only alphabets allowed.</small
        >
      </div>


      <div class="form-group col-md-6">
        <label for="age">Age</label>
        <input
          formControlName = "age" 
          required
          type="number"
          class="form-control"
          placeholder="Enter your Age"
        />
        <div *ngIf="fitnessForm.get('age').invalid && fitnessForm.get('age').touched">
          <span class="text-danger" *ngIf= "fitnessForm.get('age').errors?.ageValidator">
            Age is required and should be between 18 to 60.</span>
      </div>
      </div>


      <div class="form-group col-md-6">
        <label for="phonenumber">Phone Number</label>
        <input
          formControlName = "phonenumber"
          [class.is-invalid]="fitnessForm.get('phonenumber').invalid && fitnessForm.get('phonenumber').touched"
          type="tel"
          required
          class="form-control"
          placeholder="Enter your Phone Number"
        />
        <small
          class="text-danger"
          [class.d-none]="fitnessForm.get('phonenumber').valid || fitnessForm.get('phonenumber').untouched"
          >Phone Number is required and must be 10 digits.</small
        >
      </div>
    </div>



    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input
          formControlName = "email"
          required
          type="email"
          class="form-control"
          placeholder="Enter your Email-Address"
          required
     />
      </div>

      <div class="form-group col-md-6">
        <fieldset>
          <label for="streetaddress">Street Address</label>
          <input
          formControlName = "streetaddress"
          required
            type="text"
            class="form-control"
            name="streetaddress"
            placeholder="Enter your Address"
          />
        </fieldset>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input
        formControlName = "city"
      type="text"
      required
          class="form-control"
          placeholder="Enter your City"
          name="city"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="state">State</label>
        <input
        formControlName = "state"
       type="text"
       required
          class="form-control"
          name="state"
          placeholder="Enter your State"
        />
      </div>
      <div class="form-group col-md-6">
        
        <label for="country">Country</label>
        <input
        formControlName="country"
         type="text"
          class="form-control"
          required
          name="country"
          placeholder="Enter your Country"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="pincode">Pincode</label>
        <input
        formControlName = "pincode"
        required
          [class.is-invalid]="fitnessForm.get('pincode').invalid && fitnessForm.get('pincode').touched"
         type="number"
          class="form-control"
          placeholder="Enter your Pincode"
          required
        />
        <small
          class="text-danger"
          [class.d-none]="fitnessForm.get('pincode').valid || fitnessForm.get('pincode').untouched"
          >Pincode is required and shoud contain 6 digiits.</small
        >
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="trainerpreference">Trainer Preference</label>
        <input
        formControlName = "trainerpreference"
        required
          type="text"
          placeholder="Enter your Trainer Preference"
          class="form-control"
        />
      </div>
      <div class="form-group col-md-6">
        <label>Physiotherapist</label>
        <input
        formControlName = "physiotherapist"
          class="form-control"
          required
          type="text"
          placeholder="Need Physiotherapist?"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="packages">Packages</label>
        <input
        formControlName = "packages"
          type="text"
          placeholder="Packages"
          class="form-control"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inr">INR</label>
        <input
        formControlName = "inr"
        type="number"
        required
          placeholder="INR"
          class="form-control"
        />
      </div>
      
      <div class="form-group col-md-6">
        <label for="paisa">Paisa</label>
        <input
        formControlName = "paisa"
       type="number"
          placeholder="paisa"
          class="form-control"
          required
        />
      </div>
      
    </div>



   

    <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!fitnessForm.valid">Submit</button>

  </form>
  <br>
  <button class="btn btn-primary btn-lg btn-block"(click)="fitnessForm.reset()">Clear</button>
</div>
