<div class="container">
  <div class="jumbotron">
    <h2 style="text-align: center; color: blue">Fitness Tracker Application</h2>
  </div>

<div class="logo">


</div>

<nav class="Navbar">
  <button (click)="landingpage()" class="NavButton">Home</button>
  <button (click)="placeAppointment()" class="NavButton">Place Appointment</button>
  <button (click)="viewAppointment()" class="NavButton">View Appointment</button>
  <button (click)="contactUspage()" class="NavButton">Contact Us</button>
</nav>

<router-outlet></router-outlet>
<div class="navbar">
</div>



<!-- </div>

<div class="sidebar">
  <button (click)="landingpage()">Home</button><br>
  <button (click)="placeAppointment()">Place Appointment</button><br>
  <button (click)="viewAppointment()">View Appointment</button><br>
  <button (click)="contactUspage()">Contact Us</button>

</div>
<router-outlet></router-outlet> -->